---
import Email from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import Telephone from "@/icons/Phone.astro";
---

<span class="inline-flex gap-4 mb-4 align-baseline">
  <div class="rounded-lg bg-gray-200 p-2 flex flex-row items-center gap-2">
    <a
      href="mailto:atamayo4320@gmail.com"
      class="flex flex-row items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Email class="inline-block mr-2" />
    </a>
  </div>
  <div class="rounded-lg bg-gray-200 p-2 flex flex-row items-center gap-2">
    <a
      href="https://www.linkedin.com/in/alejandro-tamayo-castro/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex flex-row items-center gap-2"
    >
      <LinkedIn class="inline-block mr-2" />
    </a>
  </div>
  <div class="rounded-lg bg-gray-200 p-2 flex flex-row items-center gap-2">
    <a
      href="https://github.com/AlejandroTC"
      target="_blank"
      rel="noopener noreferrer"
      class="flex flex-row items-center gap-2"
    >
      <GitHub class="inline-block mr-2" />
    </a>
  </div>
  <div class="rounded-lg bg-gray-200 p-2 flex flex-row items-center gap-2">
    <a
      href="tel:+524921511221"
      class="flex flex-row items-center gap-2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Telephone class="inline-block mr-2" />
    </a>
  </div>
</span>
