---
import data from "@/content/experiences_data.json";
import Section from "@/components/Section.astro";
import WorkDot from "@/icons/WorkDot.astro";

const sortedExperience = data.sort((a, b) => b.from - a.from);

export const prerender = true;
---

<Section title="Experiencia Laboral">
  <div class="flex flex-col gap-6 ml-3">
    {
      sortedExperience.map((item) => (
        <article>
          <div class="flex flex-row gap-2 items-center mb-2">
            <WorkDot class="text-gray-400" />
            <h3 class="font-semibold text-gray-800 text-lg">{item.position}</h3>
          </div>

          <div class="flex flex-row font-bold justify-between mb-2 md:text-sm text-gray-500 text-xs">
            <a
              href={item.site}
              class="block hover:transition-all hover:text-gray-900 hover:underline"
              target="_blank"
              rel="noopener noreferrer"
              title={item.company}
            >
              {item.company}
            </a>

            <span class="text-gray-600">
              {new Date(item.from)
                .toLocaleString("es-ES", { month: "short", year: "numeric" })
                .replace(" de ", " ")
                .replace(/^\w/, (c) => c.toUpperCase())}
              {" - "}
              {item.to
                ? new Date(item.to)
                    .toLocaleString("es-ES", {
                      month: "short",
                      year: "numeric",
                    })
                    .replace(" de ", " ")
                    .replace(/^\w/, (c) => c.toUpperCase())
                : "Presente"}
            </span>
          </div>
        </article>
      ))
    }
  </div>
</Section>
