---
import { getCollection, render } from "astro:content";
import Section from "@/components/Section.astro";

const experience = await getCollection("experiences");

const renderedExperiences = await Promise.all(
  experience.map(async (item) => {
    const { Content } = await render(item);
    return {
      ...item,
      Content,
    };
  })
);

const sortedExperience = renderedExperiences.sort(
  (a, b) => b.data.from - a.data.from
);

export const prerender = true;
---

<Section title="Experiencia Laboral">
  <div class="flex flex-col gap-8">
    {
      sortedExperience.map((item) => (
        <article>
          <h3 class="text-xl font-semibold mb-2 text-gray-800">
            {item.data.position}
          </h3>
          <div class="flex flex-row justify-between mb-2 text-xs md:text-sm font-bold text-gray-600">
            <a
              href={item.data.site}
              class="block mb-2 hover:transition-all hover:text-gray-900 hover:underline"
              target="_blank"
              rel="noopener noreferrer"
              title={item.data.company}
            >
              {item.data.company}
            </a>
            <span class="block ">
              {new Date(item.data.from)
                .toLocaleString("es-ES", { month: "short", year: "numeric" })
                .replace(" de ", " ")
                .replace(/^\w/, (c) => c.toUpperCase())}
              {" - "}
              {new Date(item.data?.to ? item.data.to : "presente")
                .toLocaleString("es-ES", { month: "short", year: "numeric" })
                .replace(" de ", " ")
                .replace(/^\w/, (c) => c.toUpperCase())}
            </span>
          </div>
          <div class="prose-p prose-sm text-gray-600">
            <item.Content />
          </div>
        </article>
      ))
    }
  </div>
</Section>
