---
import Section from "@/components/Section.astro";
import World from "@/icons/World.astro";
import Contact from "@/components/sections/Contact.astro";
---

<Section>
  <article
    class="flex flex-col md:flex-row md:items-center md:justify-between md:gap-4"
  >
    <!-- Name and Degree -->
    <span>
      <div class="">
        <h1 class="prose-h1 prose-2xl md:text-4xl font-bold md:mb-4">
          Alejandro Tamayo Castro
        </h1>
        <h2 class="prose-h2 md:text-xl font-semibold">
          Técnico en Sistemas Digitales
        </h2>
        <h3 class="prose-h3 md:text-lg mb-1">FrontEnd Developer</h3>
      </div>
      <!-- Location and Contact -->
      <div class="inline-flex w-full items-center mt-4 gap-8">
        <span class="inline-flex items-center text-gray-500 gap-2">
          <World class="inline-block" />
          Zacatecas, México
        </span>
        <span class="inline-flex gap-2 ml-4">
          <Contact />
        </span>
      </div>
    </span>
    <span>
      <!-- Profile Picture -->
      <figure class="hidden md:block">
        <img
          src="/me.webp"
          alt="Alejandro Tamayo Castro"
          class="rounded-full shadow-lg w-64 aspect-[1/1] object-fit"
        />
      </figure>
    </span>
  </article>
</Section>
