---
import TailWind from "@/icons/TailWind.astro";
import Section from "../Section.astro";
import JavaScript from "@/icons/JavaScript.astro";
import CSS from "@/icons/CSS.astro";
import HTML from "@/icons/HTML.astro";
import Python from "@/icons/Python.astro";
import DevExtreme from "@/icons/DevExtreme.astro";
---

<Section title="Habilidades">
  <div class="grid grid-cols-2 md:flex md:flex-row md:items-center gap-4 mb-4">
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <HTML class="inline-block mr-2" />
      <span class="text-gray-700">HTML</span>
    </div>
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <CSS class="inline-block mr-2" />
      <span class="text-gray-700">CSS</span>
    </div>
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <JavaScript class="inline-block mr-2" />
      <span class="text-gray-700">JavaScript</span>
    </div>
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <TailWind class="inline-block mr-2" />
      <span class="text-gray-700">TailWind</span>
    </div>
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <DevExtreme class="inline-block mr-2" />
      <span class="text-gray-700">DevExtreme</span>
      <span class="text-gray-500 text-sm">(JQuery)</span>
    </div>
    <div class="rounded-lg bg-gray-100 p-2 flex flex-row items-center gap-2">
      <Python class="inline-block mr-2" />
      <span class="text-gray-700">Python</span>
    </div>
  </div>
</Section>
